<div class="container">
  <div class="row">

    <div class="col-md-6" style="margin-top: 10px">
      <img src="../../assets/SlideFifa1.jpg" width="500px"/>
    </div>

    <div class="col-md-6" style="display: block;margin-top: 10px">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [options]="chartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>

    </div>

  </div>

</div>

