<div class="container bootstrap snippet" (mousemove)="updateState($event)"   >


  <app-charts ></app-charts>


  <div class="input-group"  style="margin-top: 100px" >
    <span class="input-group-addon"  >Search</span>
    <input type="text" class="form-control" placeholder="Search for Ng-morocco People " [(ngModel)]="query" aria-describedby="basic-addon1">
  </div>
  <br>

  <div class="row">
    <div class="col-lg-12" >
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead style="background-color: #F45D5D;">

              <tr style="color: whitesmoke">
                <th><span>User</span></th>
                <th><span>LastLog</span></th>
                <th class="text-center"><span>Status</span></th>
                <th><span>Email</span></th>
                <th><span>Waves</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ngUser of ngUsers | fullTextSearch:query:'displayName' ">
                  <td>
                    <img src="{{ngUser.photoURL}}" alt="">
                    <a href="#" class="user-link">{{ ngUser.displayName}}</a>
                    <span class="user-subhead">Member</span>
                  </td>
                  <td>{{ngUser?.lastLog  }}</td>
                  <td class="text-center">
                    <span class="badge {{getStyle(ngUser.state)}}">{{ ngUser.state}}</span>
                  </td>
                  <td>
                    <a href="#">{{ngUser.email}}</a>
                  </td>
                  <td><a  ><i class="hand fa fa-hand-paper-o animated pulse  infinite" style="font-size:36px"></i></a></td>

              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

